<% if @users == nil and @subs == nil %>
<h1>Nothing has ever been tagged "<%= params[:tag] %>"!</h1>

<% else %>

<h1>Poems tagged "<%= params[:tag] %>":</h1>
<% if @subs != nil and @subs != []  %>
  <% @subs.each do |sub| %>
   <%= render :partial => 'subs/box', :locals => {:sub => sub}%> 
  <% end %>
  <%= paginate @subs, :params => {:controller => "tag", :action => "subs" } %>
<br /><br />
<% else%>
<p><em>No poems have been tagged "<%= params[:tag] %>".</em></p>
<% end %>

<h1>Users tagged "<%= params[:tag] %>":</h1>
<% if @users != nil  and @users != [] %>
  <% @users.each do |user| %>
    <%= render :partial => 'users/mini', :locals => {:user => user} %>
  <% end %>
  <%= paginate @users, :params => {:controller => "tag", :action => "users" } %>
<% else%>
<p><em>No users have been tagged "<%= params[:tag] %>".</em></p>
<% end %>

<% end %>

